
.country-counter {
  .counter-item {
    z-index: 0;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  
    &::before {
      $sz: 2px;
      content: "";
      border-radius: 5px;
      z-index: -1;
      position: absolute;
      height: calc(100% - #{$sz});
      width: calc(100% - #{$sz});
      top: $sz/2;
      left: $sz/2;
      background: $dark-bg;
    }
  
    .counter-item-icon {
      font-size: 3rem;
      line-height: 0;
      margin-right: 1vw;
    }
    
    .counter-item-label {
      flex-grow: 1;
      margin-bottom: 5px;
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: $normal;
    }
  
    .counter-item-value {
      font-size: 1.5rem;
      font-weight: $medium;
      letter-spacing: 1px;
    }
  
    &.confirmed {
      background: linear-gradient(to right, $confirmed, transparent);
  
      .counter-item-icon {
        color: $confirmed;
      }
    }
  
    &.recovered {
      background: linear-gradient(to right, $recovered, transparent);
  
      .counter-item-icon {
        color: $recovered;
      }
    }
  
    &.deaths {
      background: linear-gradient(to right, $deaths, transparent);
  
      .counter-item-icon {
        color: $deaths;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    // border: 1px solid;
  }
}