// Common
$top-zindex: 999;
$sidebar-width: 280px;


// Font
$font: 'Titillium Web', sans-serif;
$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;


// Colors
$black: #000;
$white: #FFF;
$dark-bg:  #1B1C22;
$border-color: #24262d;

$confirmed: #5E9CEA;
$recovered: #35BA9B;
$deaths:    #D94452;

$primary:   #4a6cb4;
$text-primary: $white;
$text-secondary: #929295;

$blue: $confirmed;
$green: $recovered;
$red: $deaths;

